@import url("../../styles/theme.css");

.secondary-button.ant-btn-primary {
    color: var(--on-secondary);
    background-color: var(--secondary);
    border-width: 1px;
    border-style: solid;
    border-color: var(--secondary-darker);
    box-shadow: none;
}

.secondary-button.ant-btn-primary:hover,
.secondary-button.ant-btn-primary:focus {
    color: var(--on-primary);
    background-color: var(--primary);
    border-color: none;
}

.secondary-button.ant-btn-primary:active {
    border-color: none;
}
