@import url("../../styles/index.css");

.secondary-button {
    color: var(--on-secondary);
    background-color: var(--secondary);
    border-width: 1px;
    border-style: solid;
    border-color: var(--secondary-darker);
    box-shadow: none;
}

.secondary-button:hover,
.secondary-button:focus {
    color: var(--on-primary);
    background-color: var(--primary);
    border-color: none;
}

.secondary-button:active {
    border-color: none;
}
