@import url(theme.css);
@import "tailwindcss";

@theme {
    --color-primary-color: var(--primary);
    --color-on-primary-color: var(--on-primary);
    --color-primary-darker-color: var(--primary-darker);
    --color-secondary-color: var(--secondary);
    --color-secondary-darker-color: var(--secondary-darker);
    --color-on-secondary-color: var(--on-secondary);
    --color-tertiary-color: var(--tertiary);
    --color-on-tertiary-color: var(--on-tertiary);
    --color-surface-color: var(--surface);
    --color-surface-variant-color: var(--surface-variant);
    --color-success-color: var(--success);
    --size-border-radius: var(--border-radius);
}

html,
body {
    scroll-behavior: smooth;
    padding: 0;
    background: var(--surface);
    user-select: none;
}

/*
specifies that the user should not be able to drag this element

pointer-events: none
^^^^
this is used for firefox compatiblity as firefox as of writing does not support user-drag and
*/
.block-ptrs {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}
a {
    text-decoration-line: none;
    color: var(--on-primary);
}

a:hover {
    color: var(--on-primary);
    text-decoration-line: none;
}

a:visited {
    color: var(--on-primary);
}
