:root {
    --on-primary: #fcfcfc;
    --primary: #003d76;
    --primary-darker: #00264a;
    --secondary: #fed700;
    --secondary-darker: #c2a300;
    --on-secondary: #0a0a0a;
    --tertiary: #aaaaaa;
    --on-tertiary: #cccccc;
    --surface: #ffffff;
    --surface-variant: #c2c2c2;
    --success: #689f38;
    --border-radius: 6px;
}
